@tailwind preflight;
@tailwind components;
@tailwind utilities;

$main: 'blue';
$accent: 'orange';

:root {
  --black: #1b2836;
  --white: #fff;
  --blue: #1990ccd0;
  --shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.7);
  --body-skew: 2deg;
  --cells: 3;
  --h-size: calc(1rem + 2vw);
}
html {
  font-size: 100%;
  @media screen and (min-wdith:768px){
    font-size: 120%;
  }
}
body,
html {
  @apply font-mono text-white bg-black;
  scroll-behavior: smooth;
}

[target='_blank'] {
  cursor: alias;
}

a {
  cursor: crosshair;
  @apply no-underline text-#{$main}-lighter;
  &:hover {
    @apply text-#{$main}-light;
  }
}

p {
  @apply mb-2;
}

.float {
  animation: float_an 2s alternate infinite;
}

@keyframes float_an {
  to {
    transform: translateY(-10px);
  }
}

.bg {
  background-color:#0087ff;
  background-image: url('/img/as.gif');
  background-attachment: fixed;
  background-blend-mode: luminosity;
}