@tailwind preflight;
@tailwind components;
@tailwind utilities;

$main: 'blue';
$accent: 'orange';

body,
html {
  @apply font-mono text-white bg-black;
  scroll-behavior: smooth;
}

a {
  @apply no-underline text-#{$main}-lighter;
  &:hover ,
  &:visited{
    @apply text-#{$main}-light;
  }
}

p{
  @apply mb-2;
}

.float{
  animation: float_an 2s alternate infinite;
}

@keyframes float_an{
  to{
    transform: translateY(-10px);
  }
}