/*! purgecss start ignore */
@tailwind base;
@tailwind components;
/*! purgecss end ignore */
@tailwind utilities;

/* $main: "blue";
$accent: "orange"; */

:root {
  --black: #0a1723;
  --white: #fff;
  --blue: #1990ccd0;
  --shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.7);
  --body-skew: 2deg;
  --cells: 3;
  --h-size: calc(1rem + 1vw);
}
@media screen and (min-wdith: 768px) {
  html {
    font-size: 120%;
  }
}
body,
html {
  scroll-behavior: smooth;
  @apply font-mono text-white bg-black;
  background-color: var(--black);
  color: var(--white);
}

[target="_blank"] {
  cursor: alias;
}

a {
  cursor: crosshair;
  @apply no-underline text-blue-500;
}
a:hover {
  @apply text-blue-600;
}

p {
  @apply mb-2;
}

.float {
  animation: float_an 2s alternate infinite;
}

@keyframes float_an {
  to {
    transform: translateY(-10px);
  }
}

.bg {
  /* background-color: #0087ff; */
  @apply .bg-blue-500;
  background-image: url("/img/as.gif");
  background-attachment: fixed;
  background-blend-mode: luminosity;
}
